main {
    width: 1000px;
}

.important {
    color: #004894;
}

.activityName {
    font-size: 20px;
    font-weight: 550;
}

.activityLi {
    width: 900px;
    margin: 0 auto;
    /*background: #204d74;*/
}

.activityHost {
    float: right;
    font-size: 16px;
    margin-top: 8px;
    margin-right: 50px;
}

.activity-bottom {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

.activity-bottom li {
    list-style-type: none;
    margin-bottom: 5px;
}