.form-add {
    width: 100%;
    max-width: 350px;;
    padding: 15px;
    margin-left: 30px;
    margin-top: 6px;
}

.form-add .checkbox {
    font-weight: 400;
}

.form-add .form-control {
    position: relative;
    box-sizing: border-box;
    height: 35px;
    padding: 10px;
    font-size: 14px;
}

.form-add .form-group {
    margin-bottom: 24px;
}

.form-add .form-control:focus {
    z-index: 2;
}

.main {
    height: 750px;
}

.add-box {
    position: absolute;
    margin-top: 50px;
}

.left-box {
    float: left;
    width: 400px;
    padding-right: 20px;
    border-right: 3px dashed grey;
}

.left-box .brand {
    margin-right: 75px;
    float: right;
}

.right-box {
    float: right;
    width: 600px;
}