body {
    background: #f6f6f6;
}

.main {
    background: #ffffff;
    width: 1000px;
    height: 850px;
    margin: 70px auto;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 30px;
    color: #007bff;
}

.subtitle {
    padding-left:90px;
    margin-bottom: 40px;
}

.shadow {
    box-shadow: -5px 0 5px #f0f0f0, /*左边阴影*/
                5px 0 5px #f0f0f0, /*右边阴影*/
                /*0 -10px 10px #f1f1f1, !*顶部阴影*!*/
                0 5px 5px #f0f0f0; /*底边阴影*/
}