body {
    background: #f6f6f6;
}

.main {
    background: #ffffff;
    width: 1000px;
    margin: 70px auto;
    margin-bottom: 30px;
    /*padding: 20px 20px;*/
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 30px;
    color: #007cff;
}

.subtitle {
    font-size: 23px;
    padding-top: 20px;
    margin-left: 70px;
    color: #b73737;
}

.shadow {
    box-shadow: -5px 0 5px #f0f0f0,
                5px 0 5px #f0f0f0,
                /*0 -10px 10px #f1f1f1,*/
                0 5px 5px #f0f0f0;
}

.shadow-white {
    box-shadow: 0 0 0 5px white
}

.angle-rounded {
    border-radius:3px 3px 3px 3px
}

.angle-rounded-up {
    border-radius:3px 3px 0 0
}

.page-handler {
    margin-top: 35px;
    padding-bottom: 25px;
    text-align: center;
}

.tail {
    text-align: center;
}