.main {
    height: 250px;
}

.main .headtop {
    position: relative;
    top: 0;
    width: 1000px;
    height: 140px;
    background: #919191;
    z-index: 990;
}

.main .headbot {
    position: relative;
    bottom: 0;
    width: 1000px;
    height: 110px;
    background: white;
}

.portrait {
    position: absolute;
    margin-left: 30px;
    margin-top: 70px;
    width: 160px;
    height: 160px;
    /*浮动*/
    display: flex;
    /*层叠优先级*/
    z-index: 998;
    background: white;
}

.portrait-change {
    position: absolute;
    margin-left: 30px;
    margin-top: 70px;
    width: 160px;
    height: 160px;
    /*浮动*/
    display: none;
    /*层叠优先级*/
    z-index: 999;
    /*透明度*/
    /*background: white;*/
}

.username {
    position: relative;
    margin-left: 225px;
    padding-top: 15px;
    font-size: 30px;
    font-weight: 900;
    z-index: 999;
}

/*.vcard-bg {*/
/*    z-index: 999;*/
/*}*/

.sub-main {
    margin-top: 20px;
    width: 1000px;
    background: white;
    padding: 15px 20px;
}

.sub-main .nav-tabs a {
    font-weight: 550;
}