.main {
    padding: 20px 20px;
}

.bill-table {
    margin-top: 30px;
    padding: 0 20px;
    font-size: 15px;
}

.add-button {
    position: relative;
    float: right;
    right: 40px;
    top: 20px;
}