<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.carrot97.mapper.ChuangsBillMapper">
  <resultMap id="BaseResultMap" type="com.management.carrot97.bean.ChuangsBill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, type, amount, source, agent, reason, balance
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chuangsbill
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--List<ChuangsBill> selectByPage();-->
  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chuangsbill
    order by id desc
  </select>

  <!--Double selectLatestBalance();-->
  <select id="selectLatestBalance" resultType="java.lang.Double">
    select balance
    from chuangsbill
    order by id desc
    limit 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chuangsbill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.management.carrot97.bean.ChuangsBill">
    insert into chuangsbill (id, date, type, 
      amount, source, agent, 
      reason, balance)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}, 
      #{amount,jdbcType=DOUBLE}, #{source,jdbcType=VARCHAR}, #{agent,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR}, #{balance,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.management.carrot97.bean.ChuangsBill">
    insert into chuangsbill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="agent != null">
        agent,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="agent != null">
        #{agent,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.carrot97.bean.ChuangsBill">
    update chuangsbill
    <set>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="agent != null">
        agent = #{agent,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.carrot97.bean.ChuangsBill">
    update chuangsbill
    set date = #{date,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DOUBLE},
      source = #{source,jdbcType=VARCHAR},
      agent = #{agent,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>