<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="table-responsive" th:fragment="activity_table">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>地点</th>
            <th>花费</th>
            <th>主办人</th>
            <th>开始时间</th>
            <th>预计时长</th>
            <th>详细</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="act:${activities}">
            <td th:text="${act.id}"></td>
            <td th:text="${act.name}"></td>
            <td th:text="${act.location}"></td>
            <td th:text="${act.expense}"></td>
            <td th:text="${act.host}"></td>
            <td th:text="${#dates.format(act.startTime, 'yyyy-MM-dd HH:mm:ss E')}"></td>
            <td th:text="${act.span}"></td>
            <td th:text="${act.details}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>