<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="activity_ul" th:fragment="activity_ul">
    <p class="activity-notice"></p>
    <li class="activityLi" th:each="act:${pageInfo.list}">
        <hr style="margin-left: -70px;background-color: #f0f0f0; height: 1px; width: 1000px;border: none"/>
        <p class="activityHost">
            举办人：<span class="important" th:text="${act.host}"></span></p>
        <th:block th:with="timeout=${#dates.createNow().after(act.startTime)}">
        <p class="activityName"
           th:text="${timeout?act.name+'(已过期)':act.name}"
           th:style="${timeout?'text-decoration:line-through':''}"></p>
        <p class="activityTime">
            <span class="important" th:text="${#dates.format(act.startTime, 'yyyy-MM-dd HH:mm E')}"
                  th:style="${timeout?'color:#b73737':''}"></span>
            ，预计持续
            <span class="important" th:text="${act.span}"></span>
            分钟
        </p>
        </th:block>
        <p>活动地点：
            <span class="important" th:text="${act.location}"></span>&nbsp;
            预计花费：
            <span class="important" th:text="${act.expense}"></span>元</p>
        <p class="activityDetails" th:if="${act.details!='' and act.details!=null}"><b>详细</b>：
            <span th:text="${act.details}"></span>
        </p>
    </li>
</ul>

<div th:fragment="my_activity_ul">
    <ul class="activity_ul">
        <p class="activity-notice"></p>
        <li class="activityLi" th:each="act:${pageInfo.list}">
            <hr style="margin-left: -70px;background-color: #f0f0f0; height: 1px; width: 1000px;border: none"/>
            <div class="activity-bottom">
                <ul>
                    <li><a class="btn btn-warning btn-sm" th:href="@{/activity/}+${act.id}">修改活动</a></li>
                    <li>
                        <button class="btn btn-danger btn-sm delete-btn"
                                th:attr="uri=@{/activity/}+${act.id}">删除活动
                        </button>
                    </li>
                </ul>
            </div>
            <th:block th:with="timeout=${#dates.createNow().after(act.startTime)}">
                <p class="activityName"
                   th:text="${timeout?act.name+'(已过期)':act.name}"
                   th:style="${timeout?'text-decoration:line-through':''}"></p>
                <p class="activityTime">
            <span class="important" th:text="${#dates.format(act.startTime, 'yyyy-MM-dd HH:mm E')}"
                  th:style="${timeout?'color:#b73737':''}"></span>
                    ，预计持续
                    <span class="important" th:text="${act.span}"></span>
                    分钟
                </p>
            </th:block>
            <p>活动地点：
                <span class="important" th:text="${act.location}"></span>&nbsp;
                预计花费：
                <span class="important" th:text="${act.expense}"></span>元</p>
            <p class="activityDetails" th:if="${act.details!='' and act.details!=null}"><b>详细</b>：
                <span th:text="${act.details}"></span>
            </p>
        </li>
    </ul>
    <form id="delete-form" method="post">
        <input hidden="hidden" name="_method" value="delete">
    </form>
</div>
</body>
</html>