<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心 · 创新苑</title>
    <th:block th:include="commons/header::header"/>
    <link th:href="@{/assets/css/me.css}" rel="stylesheet">
</head>
<body>
<!--导航栏-->
<div th:replace="commons/base::navbar"></div>

<div class="main">
    <div th:fragment="visitingCard">
        <img class="portrait-change" width="160" height="160"
             th:src="@{/assets/img/portrait_change.png}">
        <img class="portrait shadow-wallGray angle-rounded" width="160" height="160"
             th:src="@{/assets/img/user-{filename}.png(filename=${session.loginUser.userId})}"
             th:if="${session.loginUser.imgPath}!='default'">
        <img class="portrait shadow-wallGray angle-rounded" width="160" height="160"
             th:src="@{/assets/img/default.jpg}"
             th:if="${session.loginUser.imgPath}=='default'">
        <div class="headtop angle-rounded-up">
            <img class="vcard-bg angle-rounded" width="1000" height="250" th:src="@{/assets/img/header.png}">
        </div>
        <div class="headbot angle-rounded shadow">
            <p class="username" th:text="${session.loginUser.userName}"></p>
        </div>
        <form id="portrait-change-form" th:action="@{/portrait}" method="get"></form>
    </div>
    <div class="sub-main angle-rounded shadow">
        <div class="sub-nav" th:fragment="subnavber">
            <ul class="nav nav-tabs">
                <li role="presentation" th:class="${subActiveUri=='myActivity'?'active':''}">
                    <a th:href="@{/activity/user(pageNumber=1,pageSize=5)}">我的活动</a></li>
                <li role="presentation" th:class="${subActiveUri=='myBill'?'active':''}">
                    <a href="#">我的帐单</a></li>
                <li role="presentation" th:class="${subActiveUri=='personalData'?'active':''}">
                    <a href="#">个人资料</a></li>
            </ul>
        </div>
        <!--        <hr style="background-color: #a7a7a7; height: 1px;border: none"/>-->
    </div>
</div>
</body>
</html>