<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布活动 · 创新苑</title>
    <th:block th:include="commons/header::header"/>
    <link th:href="@{/assets/css/add.css}" rel="stylesheet">
</head>
<body>
<!--导航栏-->
<div th:replace="commons/base::navbar(activeUri='activity')"></div>
<div class="main shadow">
    <div class="add-box">
        <div style="text-align: center; margin-bottom: 50px">
            <h1>发布活动</h1>
        </div>
        <div class="left-box" style="text-align: right">
            <br/>
            <h4>活动名称:</h4><br/>
            <h4>活动地点:</h4><br/>
            <h4>开始时间:</h4><br/>
            <h4>预计耗时:</h4><br/>
            <h4>预计花费:</h4><br/>
            <h4>细节描述:</h4><br/>
        </div>
        <div class="right-box">
            <form class="form-add" th:action="@{/activity}" method="post">
                <input name="host" hidden="hidden" th:value="${session.loginUser.userName}">
                <!--活动名称-->
                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="inputName"
                           placeholder="活动名称">
                </div>
                <!--活动地点-->
                <div class="form-group">
                    <input type="text" name="location" class="form-control" id="inputLocation"
                           placeholder="活动地点">
                </div>
                <!--开始时间-->
                <div class="form-group">
                    <input type="text" name="startTime" class="form-control" id="inputStartTime"
                           placeholder="开始时间">
                </div>
                <!--预计耗时-->
                <div class="form-group">
                    <input type="number" name="span" class="form-control" id="inputSpan"
                           placeholder="预计耗时">
                </div>
                <!--预计花费-->
                <div class="form-group">
                    <input type="number" name="expense" class="form-control" id="inputExpense"
                           placeholder="预计花费">
                </div>
                <!--细节描述-->
                <div class="form-group">
                    <textarea name="details" rows="10" class="form-control" style="height:105px;overflow:auto"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">发布</button>
<!--                <span id="msg" th:text="${msg}"></span>-->
<!--                <p class="mt-5 mb-3 text-muted text-center"></p>-->
            </form>
        </div>
    </div>
</div>
</body>
</html>