<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>全部活动 · 创新苑</title>
    <th:block th:include="commons/header::header"/>
    <link th:href="@{/assets/css/activity_ul.css}" rel="stylesheet">
</head>
<body>
<!--导航栏-->
<div th:replace="commons/base::navbar(activeUri='activity')"></div>
<div class="main shadow">
    <p class="subtitle">全部活动</p>
    <div th:replace="commons/activity_ul::activity_ul"></div>

    <nav class="page-handler" aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div th:replace="commons/tail::tail"></div>
</body>
</html>
