<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>全部活动 · 创新苑</title>
    <th:block th:include="commons/header::header"/>
    <link th:href="@{/assets/css/list.css}" rel="stylesheet">
</head>
<body>
<!--导航栏-->
<div th:replace="commons/base::navbar(activeUri='activity')"></div>
<div class="main shadow">
    <main role="main" class="ml-sm-auto px-md-4">
        <br/>
        <h2 class="subtitle">全部活动</h2>
        <div th:replace="commons/activity_table"></div>
    </main>
</div>
</body>
</html>
