<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心 · 创新苑</title>
    <th:block th:include="commons/header::header"/>
    <link th:href="@{/assets/css/me.css}" rel="stylesheet">
    <link th:href="@{/assets/css/activity_ul.css}" rel="stylesheet">
    <link th:href="@{/assets/css/my_activity.css}" rel="stylesheet">
</head>
<body>
<!--导航栏-->
<div th:replace="commons/base::navbar"></div>

<div class="main">
    <!--用户名片-->
    <div th:replace="commons/me::visitingCard"></div>
    <div class="sub-main angle-rounded shadow">
        <!--次级导航栏-->
        <div th:replace="commons/me::subnavber(subActiveUri='myActivity')"></div>
        <div class="button-box">
            <a class="btn btn-success" th:href="@{/activity/}">发布活动</a>
        </div>
        <!--活动表格-->
        <div th:replace="commons/activity_ul::my_activity_ul"></div>
        <div th:replace="commons/page_handler::page-handler"></div>
    </div>
    <div th:replace="commons/tail::tail"></div>
</div>
<script th:src="@{/assets/js/nav_switch_handler.js}"></script>
<script th:src="@{/assets/js/delete_form.js}"></script>
<script th:src="@{/assets/js/activity_notice.js}"></script>
<script th:src="@{/assets/js/portrait_change.js}"></script>
</body>
</html>