<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心 · 创新苑</title>
    <th:block th:include="commons/header::header"/>
    <link th:href="@{/assets/css/user/me.css}" rel="stylesheet">
    <link th:href="@{/assets/css/user/register.css}" rel="stylesheet">
</head>
<body>
<!--导航栏-->
<div th:replace="commons/base::navbar"></div>

<div class="main" style="height: 980px">
    <!--用户名片-->
    <div th:replace="commons/me::visitingCard"></div>
    <div class="sub-main angle-rounded shadow" style="height: 700px">
        <!--次级导航栏-->
        <div th:replace="commons/me::subnavber(subActiveUri='personalData')"></div>
        <div th:replace="commons/user_info::userInfo(act='update')"></div>
    </div>
</div>
<div th:replace="commons/tail::tail"></div>
<script th:src="@{/assets/js/nav_switch_handler.js}"></script>
<script th:src="@{/assets/js/portrait_change.js}"></script>
</body>
</html>